$color-main: #157154;
$color-sub: #0d4735;
$color-background: #060d1d;
$color-background-dim: #0d1326;

$color-title: #ffffff;
$color-nav-item: #157154;
$color-nav-item-select: #000000;

$color-text-main: #efefef;
$color-text-sub: #b6b6b6;
